
/* for nav bar font colour */
.me-auto{
    color: antiquewhite;
}

.styleoffrom {
    max-width: 500px;
    margin: 60px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .styleoffrom h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .mb-3 {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-weight: 500;
    color: #333;
  }
  
  .form-control {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }

  /* search style */
  .searchstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .searchstyle h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .searchstyle input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .searchstyle button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .searchstyle button:hover {
    background-color: #0056b3;
  }
  